@use './variables' as *;
@use './mixins' as *;

a {
  text-decoration: none;
}

body {
  background-color: $color-white;
  color: $color-dark;
  @include typo-make-sizes($typo-paragraph-base-sizes);
}

.page-container {
  height: 100vh;
}

