<footer class="footer">
  <div class="container">
    <div class="social">
      <div class="subtitle">Мы в социальных сетях:</div>
      <a href="#" class="link">instagram</a>
      <a href="#" class="link">facebook</a>
    </div>
    <div class="pepper">
      <img src="icons/veg.svg" alt="pepper">
    </div>
    <div class="call">
      <div class="subtitle">Или позвоните нам</div>
      <a href="tel:+380678341034" class="link">+380678341034</a>
      <a href="tel:+380500941356" class="link">+380500941356</a>
    </div>
  </div>
</footer>

</body>

</html>
