<footer class="footer">
  <div class="footer__social">
    <div class="footer__subtitle">Мы в социальных сетях</div>
    <ul class="footer__list">
      <a href="#" class="footer__link link">instagram</a>
      <a href="#" class="footer__link link">facebook</a>
    </ul>
  </div>
  <div class="footer__icon-wrapper">
    <svg role="img" class="footer-icon-fire">
      <use xlink:href="icons.svg#fire"/>
    </svg>
    <svg role="img" class="footer-icon-peper">
      <use xlink:href="icons.svg#paper"/>
    </svg>
  </div>
  <div class="footer__contacts">
    <div class="footer__subtitle">Или позвоните нам</div>
    <ul class="footer__list">
      <a href="tel:+380678341034" class="footer__list-link link">+7-806-783-4103</a>
      <a href="tel:+380500941356" class="footer__list-link link">+7-805-009-4135</a>
    </ul>
  </div>
</footer>

<div class="modal" data-modal-target="modal">
  <div class="modal__dialog">
    <div class="modal__content">
      <form class="modal__form" action="#">
        <button data-close class="modal__close" data-action="modal#close">&times;</button>
        <div class="modal__title">Мы свяжемся с вами как можно быстрее!</div>
        <div class="input-field text-field_floating modal__form__input">
          <input class="input-field__input" placeholder="">
          <label class="input-field__label">Введите ваше имя</label>
        </div>
        <div class="input-field text-field_floating modal__form__input">
          <input class="input-field__input" placeholder="">
          <label class="input-field__label">Введите ваше имя</label>
        </div>
        <button class="button">Перезвонить мне</button>
      </form>
    </div>
  </div>
</div>
</div>
</body>

</html>
