<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="turbo-cache-control" content="no-cache">
  <title>
    {{#if pageTitle}}
      {{pageTitle}}
    {{/if}}
  </title>
  <link rel="stylesheet" href="app.css"/>
  <script src="vendor.js" async></script>
  <script src="app.js" async></script>
  <script src="/webpack-dev-server.js" async></script>
</head>

<body data-controller="cursor">
<div class="page__contaner">
<header class="header">
  <div class="header__wrapper">
    <div class="header__left">
      <svg role="img" class="header__logo">
        <use xlink:href="icons.svg#logo"/>
      </svg>
      <nav class="header__links">
        <li class="header__link"><a href="#">Доставка питания</a></li>
        <li class="header__link"><a href="#">Питание на вынос</a></li>
      </nav>
    </div>
    <button class="button button--white header__button">Связаться с нами</button>
  </div>
</header>
