{{> partials/header }}
<div class="content">
  <div class="sidepanel">
    <div class="sidepanel__wrapper">
      <p class="sidepanel__text">Социальные сети</p>
      <div class="sidepanel__socials">
        <svg role="img" class="sidepanel-icon">
          <use xlink:href="icons.svg#inst"/>
        </svg>
        <svg role="img" class="sidepanel-icon">
          <use xlink:href="icons.svg#facebook"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="content__block preview" data-controller="tab">
    <div class="preview__cards" data-tab-target="tabs">
      <div class="preview__card show">
        <img src="tabs/tab-2.jpg" alt="vegy">
        <p class="preview__card-description">
          Меню "Фитнес" - это новый подход к приготовлению блюд: больше свежих овощей и фруктов. Для
          людей, которые интересуются спортом; активных и здоровых. Это абсолютно новый продукт с
          оптимальной ценой и высоким качеством!
        </p>
      </div>
      <div class="preview__card">
        <img src="tabs/tab-4.jpg" alt="vegy">
        <p class="preview__card-description">
          Меню “Премиум” - мы используем не только красивый дизайн упаковки, но и качественное исполнение блюд.
          Красная рыба, морепродукты, фрукты - ресторанное меню без похода в ресторан!
        </p>
        <span class="preview__note">Питайся полезно и вкусно!</span>
      </div>
      <div class="preview__card">
        <img src="tabs/tab-3.jpg" alt="vegy">
        <p class="preview__card-description">
          Наше специальное “Постное меню” - это тщательный подбор ингредиентов: полное отсутствие продуктов
          животного происхождения. Полная гармония с собой и природой в каждом элементе! Все будет Ом!
        </p>
      </div>
      <div class="preview__card">
        <img src="tabs/tab-1.jpg" alt="vegy">
        <p class="preview__card-description">
          Меню "Сбалансированное" - это соответствие вашего рациона всем научным рекомендациям. Мы тщательно
          просчитываем вашу потребность в к/б/ж/у и создаем лучшие блюда для вас.
        </p>
        <span class="preview__note">Живи полной жизнью!</span>
      </div>
    </div>
    <div class="preview__list-wrapper">
      <h3 class="preview__list-title">Выберите стиль питания</h3>
      <ul class="preview__list" data-tab-target="menu">
        <li class="preview__list-item active" data-tab-index="0">
          Фитнес
        <li class="preview__list-item" data-tab-index="1">
          Премиум
        </li>
        <li class="preview__list-item" data-tab-index="2">
          Постное
        </li>
        <li class="preview__list-item" data-tab-index="3">
          Сбалансированное
        </li>
      </ul>
    </div>
  </div>

  <div class="content__block offer">
    <div class="offer__top">
      <h2 class="offer__title">Что мы можем вам предложить?</h2>
      <div class="offer__description">
        <p class="offer__text">
          Наша основная идея - это правильное питание. Оно может быть простым и вкусным. Мы не просто
          доставка, мы сервис! Мы взяли на себя все расчеты БЖУ, калорийности, объемов порций и прочие важные,
          но скучные аспекты. Вам остается только полезная, сытная и правильная еда, которую мы привозим прямо
          под дверь.
        </p>
        <div class="offer__button">
          <button data-modal class="button">Связаться с нами</button>
        </div>
      </div>
    </div>
    <div class="offer__bottom">
      <div class="offer__left">
        <h2 class="offer__subtitle">Быстро и полезно</h2>
        <p class="offer__description-text">
          Готовка дома занимает много сил, времени и нервов. Мы привозим еду сразу на целый день, и ты можешь
          действовать так, как тебе удобно, не подстраиваясь ни под кого и будучи уверенным в качестве
          продукта!
        </p>
        <h2 class="offer__subtitle">Правильный рацион</h2>
        <p class="offer__description-text">
          Мы разработали специальное меню, где учтены все нюансы правильного питания, от баланса БЖУ до их
          приготовления и дробления рациона.
        </p>
      </div>
      <div class="offer__slider" data-controller="slider">
        <div class="offer__slider-counter">
          <button data-action="slider#prev">
            <svg role="img" class="offer__slider-icon offer__slider-prev">
              <use xlink:href="icons.svg#arrow"/>
            </svg>
          </button>
          <span data-slider-target="current">1</span>
          /
          <span data-slider-target="total">2</span>
          <button data-action="slider#next">
            <svg role="img" class="offer__slider-icon offer__slider-next">
              <use xlink:href="icons.svg#arrow"/>
            </svg>
          </button>
        </div>
        <div class="offer__slider-wrapper" data-slider-target="container">
          <div class="offer__slider-row" data-slider-target="sliders">
            <div class="offer__slide">
              <img src="/slider/slide-2.jpg" alt="pepper">
            </div>
            <div class="offer__slide">
              <img src="/slider/slide-1.jpg" alt="food">
            </div>
            <div class="offer__slide">
              <img src="/slider/slide-4.jpg" alt="oil">
            </div>
            <div class="offer__slide">
              <img src="/slider/slide-3.jpg" alt="paprika">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="calculating content__block" data-controller="calculate">
    <h2 class="calculating___title">Рассчитаем вашу потребность в калориях?
    </h2>

    <div class="calculating__content">
      <h3 class="calculating__subtitle">
        Ваш пол
      </h3>
      <div class="calculating__buttons calculating__gender" data-calculate-target="gender">
        <button data-gender="female" class="calculating__button button button--white">Женщина</button>
        <svg role="img" class="gender-icon">
          <use xlink:href="icons.svg#switch"/>
        </svg>
        <button data-gender="male" class="calculating__button button button--white">Мужчина</button>
      </div>

      <div class="calculating__subtitle">
        Ваша конституция
      </div>
      <div class="calculating__fields">
        <div class="input-field text-field_floating">
          <input class="input-field__input" data-calculate-target="height" placeholder="">
          <label class="input-field__label">Введите рост</label>
        </div>
        <div class="input-field text-field_floating">
          <input class="input-field__input" data-calculate-target="weight" placeholder="">
          <label class="input-field__label">Введите вес</label>
        </div>
        <div class="input-field text-field_floating">
          <input class="input-field__input" data-calculate-target="age" placeholder="">
          <label class="input-field__label">Введите возраст</label>
        </div>
      </div>

      <h3 class="calculating__subtitle">
        Выберите вашу физическую активность
      </h3>

      <div class="calculating__buttons" data-calculate-target="activity">
        <button data-activity="1.2" id="low" class="calculating__button button button--white">Низкая активность
        </button>
        <button data-activity="1.375" id="small" class="calculating__button button button--white">
          Невысокая
          активность
        </button>
        <button data-activity="1.55" id="medium" class="calculating__button button button--white">Умеренная
          активность
        </button>
        <button data-activity="1.725" id="high" class="calculating__button button button--white">Высокая активность
        </button>
      </div>

      <div class="calculating__result">
        <h3 class="calculating__subtitle">
          Ваша суточная норма калорий:
        </h3>
        <h2 class="calculating__total" data-calculate-target="result">2700</h2><span>ккал</span>
      </div>
    </div>
  </div>
</div>


<!--    <div class="divider"></div>-->

<!--    <div class="menu">-->
<!--        <h2 class="title">Наше меню на день</h2>-->

<!--        <div class="menu__field">-->
<!--            <div class="container">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="order">-->
<!--        <div class="container">-->
<!--            <div class="title">Заказывай пробный день прямо сейчас!</div>-->
<!--            <form action="#" class="order__form">-->
<!--                <input required placeholder="Ваше имя" name="name" type="text" class="order__input">-->
<!--                <input required placeholder="Ваш номер телефона" name="phone" type="phone" class="order__input">-->
<!--                <img src="icons/right.svg" alt="right">-->
<!--                <button class="btn btn_dark btn_min">Перезвонить мне</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="divider"></div>-->

<!--    <div class="promotion">-->
<!--        <div class="bgc_y"></div>-->
<!--        <div class="container">-->
<!--            <div class="promotion__text">-->
<!--                <div class="title">Акция для новых клиентов!</div>-->
<!--                <div class="promotion__descr">-->
<!--                    Мы ценим каждого клиента и предлагаем вам стать одним из них на очень выгодных условиях.-->
<!--                    Каждому, кто закажет доставку питание на неделю, будет предоставлена скидка в размере-->
<!--                    <span>20%!</span>-->
<!--                    <br><br>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="promotion__timer">-->
<!--                <div class="title">Осталось до конца акции:</div>-->
<!--                <div class="timer">-->
<!--                    <div class="timer__block">-->
<!--                        <span id="days">12</span>-->
<!--                        дней-->
<!--                    </div>-->
<!--                    <div class="timer__block">-->
<!--                        <span id="hours">20</span>-->
<!--                        часов-->
<!--                    </div>-->
<!--                    <div class="timer__block">-->
<!--                        <span id="minutes">56</span>-->
<!--                        минут-->
<!--                    </div>-->
<!--                    <div class="timer__block">-->
<!--                        <span id="seconds">20</span>-->
<!--                        секунд-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="modal">-->
<!--        <div class="modal__dialog">-->
<!--            <div class="modal__content">-->
<!--                <form action="#">-->
<!--                    <div data-close class="modal__close">&times;</div>-->
<!--                    <div class="modal__title">Мы свяжемся с вами как можно быстрее!</div>-->
<!--                    <input required placeholder="Ваше имя" name="name" type="text" class="modal__input">-->
<!--                    <input required placeholder="Ваш номер телефона" name="phone" type="phone" class="modal__input">-->
<!--                    <button class="btn btn_dark btn_min">Перезвонить мне</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

{{> partials/footer}}
