@use '../variables' as *;
@use '../mixins' as *;

.button {
  @include typo-make-sizes($typo-paragraph-nav-sizes);
  font-weight: 700;
  background: $color-dark;
  color: $color-white;
  padding: 16px 24px;
  border: 2px solid $color-dark;
  border-radius: 2px;
  min-height: 64px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);

  &:hover {
    box-shadow: 0 4px 30px rgba(0,0,0,.3);
  }
}

.button--white {
  background: $color-white;
  border: 1px solid $color-dark;
  color: $color-dark;
}

.button--green {
  background: $color-green;
  border: none;
}
