@use '../mixins' as *;
@use '../variables' as *;

.calculating {
  position: relative;
  @include grid-with-offset((small: 1, medium: 1, large: 1)) {
    @include grid-with-inner-context {
      @include grid-columns-span((small: 3, medium: 7, large: 10));
    }
  }
  padding: 24px 0;
  box-shadow: 0 4px 30px rgba(.10, .10, .10, 0);
  margin-bottom: 80px;

  &:before {
    background: -moz-linear-gradient(to right, $color-white 20% $color-light-yellow 30%, rgba($color-light-blue, 1) 50%);
    right: -20%;
    left: 60%;
    z-index: -2;
  }

  &:after {
    @include grid-with-offset((large: 4)) {
      @include grid-columns-span((large: 2));
    }
  }
}

.calculating___title {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  @include typo-make-sizes($typo-h2-sizes);
  justify-self: center;
  margin-bottom: 64px;
}

.calculating__content {
  @include grid-with-inner-context {
    @include grid-columns-span((small: 3, medium: 7, large: 10));
  }
  background: rgb($color-light-blue, 0.16);
  padding: 24px 0;
}

.calculating__subtitle {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  @include typo-make-sizes($typo-h3-sizes);
  justify-self: center;
  margin-bottom: 32px;
}

.calculating__buttons {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  margin-bottom: 32px;
  justify-self: center;
  display: flex;
  gap: 0;
}

.calculating__button {
  transition: background-color .2s linear;
  &:not(:last-child) {
    margin-right: 44px;
  }
}

.calculating__button.active {
  color: $color-white;
  background: $color-green;
  border-color: transparent;
}

.calculating__fields {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  justify-self: center;
  margin-bottom: 32px;
  display: flex;
  gap: 0;

  .input-field:not(:last-child) {
    margin-right: 32px;
  }
}

.calculating__gender {
  position: relative;

  .calculating__button {
    margin: 0;
  }
}

.gender-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.calculating__result {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  @include typo-make-sizes($typo-h3-sizes);
  justify-self: center;
  display: flex;
  align-items: center;

  .calculating__subtitle {
    margin-bottom: 0;
  }
}

.calculating__total {
  @include typo-make-sizes($typo-h2-sizes);

  span {
    @include typo-make-sizes($typo-h3-sizes);
  }
}
