@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.input-field {
  position: relative;
  min-height: 64px;

  textarea.input-field__input {
    padding-top: 24px;
    + .input-field__label {
      padding-top: 24px;
      align-items: flex-start;
    }
  }
}

.input-field__input {
  height: 64px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 12px;
  background: $color-white;
  padding-left: 24px;
  border: none;
}

.input-field__input:focus {
  color: $color-dark;
  outline: 0;
}

.input-field__label {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 24px;
  height: 100%;
  pointer-events: none;
  transform-origin: 0 0;
  transition: transform .15s ease-in-out;
  color: rgb($color-dark, 0.4);
}

.input-field .input-field__input::-moz-placeholder {
  color: transparent;
}

.input-field .input-field__input::placeholder {
  color: transparent;
}

.input-field .input-field__input:focus,
.input-field .input-field__input:not(:placeholder-shown) {
  background: $color-white;
}

.input-field .input-field__input:focus ~ .input-field__label,
.input-field .input-field__input:not(:placeholder-shown) ~ .input-field__label {
  transform: scale(.6) translateY(-9px);
}


