@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.menu {
  display: none;
  position: relative;
  padding: 24px 0;
  margin-bottom: 80px;

  @include screen-medium-up {
    display: block;
    @include grid-with-offset((medium: 1)) {
      @include grid-with-inner-context {
        @include grid-columns-span((small: 3, medium: 7, large: 10));
      }
    }
  }

  &:before {
    background: -moz-linear-gradient(rgba($color-white, 1) 30%, rgba($color-light-yellow, 0.24) 70%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &:after {
    @include grid-with-offset((large: 4)) {
      @include grid-columns-span((large: 2));
    }
  }
}

.menu__title {
  @include grid-columns-span((small: 4, medium: 7, large: 10));
  @include typo-make-sizes($typo-h2-sizes);
  justify-self: center;
  margin-bottom: 32px;
}

.menu__cards {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  display: flex;
  justify-self: center;
  gap: 0;
  margin-bottom: 64px;
}

.menu__card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  max-height: 600px;
  background: rgb($color-white, .8);
  box-shadow: 1px 1px 1px 1px rgba(.5, .5, .5, .5);
}

.menu__card-photo {
  padding-bottom: 16px;
  height: 180px;

  @include screen-large-up {
    height: 220px;
  }
}

.menu__card-title {
  @include typo-make-sizes($typo-h3-sizes);
  text-align: center;
  padding-bottom: 16px;
}

.menu__card-description {
  @include typo-make-sizes($typo-paragraph-small-sizes);
  flex-grow: 1;
  padding: 0 16px 16px 16px;

  @include screen-large-up {
    @include typo-make-sizes($typo-paragraph-base-sizes);
  }
}

.menu__card-price {
  @include typo-make-sizes($typo-h3-sizes);
  text-align: center;
  padding-bottom: 16px;
}
