@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 120px 24px 0px 24px;
  background-color: rgba($color-dark, .90);
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s linear;
  z-index: 2;

  @include screen-medium-up {
    padding: 120px 0 0 0;
  }
}

.modal.open {
  opacity: 1;
  pointer-events: unset;
}

.modal__dialog {
  max-width: 600px;
  margin: 0 auto;
}

.modal__content {
  position: relative;
  padding: 42px 16px;
  background: $color-white;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;

  @include screen-medium-up {
    padding: 64px 42px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 44px;
  color: $color-dark;
  opacity: .5;
  font-weight: 700;
  cursor: pointer;
}

.modal__title {
  @include typo-make-sizes($typo-h2-sizes);
  text-align: center;
  margin-bottom: 16px;
}

.modal__form__input {

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .input-field__input {
    border: 1px solid $color-dark;
  }
}
