@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.order {
  position: relative;
  @include grid-with-offset((small: 1, medium: 1, large: 1)) {
    @include grid-with-inner-context {
      @include grid-columns-span((small: 3, medium: 7, large: 10));
    }
    padding: 24px 0;
    margin-bottom: 80px;
  }

  &:before {
    background: -moz-linear-gradient(rgba($color-white, 1) 30%, rgba($color-green, 0.12) 70%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &:after {
    @include grid-with-offset((large: 4)) {
      @include grid-columns-span((large: 2));
    }
  }
}

.order__title {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  @include typo-make-sizes($typo-h2-sizes);
  justify-self: center;
  margin-bottom: 32px;
}

.order__form {
  @include grid-columns-span((small: 3, medium: 7, large: 10));
  display: flex;
  justify-content: space-between;
  padding: 32px;
  margin-bottom: 32px;
}

.order__form__input {

  .input-field__input {
    border: 1px solid $color-dark;
  }
}

.form__arrow {
  width: 64px;
  height: 64px;
  transform: rotate(180deg);
}
