@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.preview {
  @include grid-with-offset((small: 1, medium: 1, large: 1)) {
    @include grid-with-inner-context {
      @include grid-columns-span((small: 3, medium: 7, large: 11));
    }
  }
  position: relative;
  margin-bottom: 80px;
  box-shadow: 0 4px 30px rgba(.10,.10,.10,0);
  padding: 24px 0;

  &:before {
    background: -moz-linear-gradient(to right,  rgba($color-white, 1) 30%, rgba($color-light-blue,0.24) 70%);
    right: -20%;
    z-index: -2;
  }

  &:after {
    @include grid-with-offset((large: 4)) {
      @include grid-columns-span((large: 2));
    }
  }
}

.preview__cards {
  @include grid-columns-span((large: 8));
}

.preview__card {
  position: relative;
  height: 100%;
  display: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.show {
  display: block;
  animation: showTab .8s linear;
}

@keyframes showTab {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.preview__card-description {
  position: absolute;
  bottom: 10%;
  right: -10%;
  @include typo-make-sizes($typo-paragraph-lead-sizes);
  max-width: 550px;
  max-height: 359px;
  background: rgba($color-light-yellow, 0.80);
  padding: 32px;
}

.preview__list-wrapper {
  @include grid-columns-span((large: 3));
  width: 100%;
  background: $color-white;
  justify-self: start;
  padding: 24px;
  margin-left: -20px;
}

.preview__list {
  padding-left: 16px;
  border-left: 1px solid $color-dark;
}

.preview__list-title {
  font-weight: 700;
  margin-bottom: 32px;
}

.preview__list-item {
  cursor: pointer;
  transition: .3s linear;
  color: rgb($color-dark, 0.8);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.preview__list-item.active {
  color: rgb($color-dark, 1);
  transform: translate(15%);
  font-weight: 600;
}


