@use '../mixins' as *;
@use '../variables' as *;
@use '../placeholders';

.sidepanel {
  @include grid-columns-span((medium: 1, large: 1));
  display: none;

  @include screen-medium-up {
    display: block;
    align-self: start;
    position: sticky;
    top: 16px;
    z-index: 2;
  }
}

.sidepanel__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidepanel__text {
  display: flex;
  gap: 0;
  font-size: 14px;
  transform: rotate(-90deg) translateX(-65px);

  p {
    &:first-child {
      padding-right: 6px;
    }
  }
}

.sidepanel__socials {
  display: flex;
  flex-direction: column;
  transform: translateY(80%);
}

.sidepanel__link {
  &:hover {
    .icon-inst {
      fill: $color-white;
      background: #b349a0;
    }

    .icon-facebook {
      background: #3f729b;
    }
  }
}

.sidepanel-icon {
  width: 64px;
  height: 64px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.icon-inst {
  fill: $color-dark;
  padding: 4px;
  border-radius: 25%;
  transition: background-color .2s linear;
}

.icon-facebook {
  padding: 4px;
  fill: $color-white;
  border-radius: 50%;
  background: $color-dark;
  transition: background-color .2s linear;
}
